@import "tailwindcss";

:root {
  /* Fonts */
  --font-poppins: "Poppins", sans-serif;

  /* Color Variables */
  --color-1: #ffffff;
  --color-2: #1c74c0;
  --color-3: #929292;
  --color-4: #2773b51a;
  --color-5: #f3f3f3;
  --color-6: #e59a12;
  --color-7: #007bff;
  --color-8: #0b568e;
  --color-9: #417da8;
  --color-10: #f8fafc;
  --color-11: #e4f2ff;
}

@theme inline {
  --color-white: var(--color-1);
  --color-primary: var(--color-2);
  --color-muted: var(--color-3);
  --color-primary-soft: var(--color-4);
  --color-gray-light: var(--color-5);
  --color-warning: var(--color-6);
  --color-info: var(--color-7);
  --color-primary-dark: var(--color-8);
  --color-primary-mid: var(--color-9);
  --color-surface: var(--color-10);
  --color-primary-bg: var(--color-11);
}

body {
  font-family: var(--font-poppins);
}

/* Hide scrollbar but keep scroll functionality */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Glass / Blur Navbar */
.glass-navbar {
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
}

html {
  overflow-x: hidden;
}

/* 
color1:#FFFFFF
color2:#1C74C0
color3:#929292
color4:#2773B51A
color5:#F3F3F3
color6:#E59A12
color7:#007BFF
color8:#0B568E
color9:#417DA8
color10:#F8FAFC
color11:#E4F2FF
*/
